body{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top:10% ;
}
.calculator{
    /* height:400px; */
    width: 200px;
    background: #000;
    /* color:rgb(204, 198, 198); */
    border-radius: 10px ;
    padding: 15px;
    display: flex;
    flex-wrap: wrap;
}
h1{
    color: #fff;
}
#display{
    width: 100%;
    padding: 7px;
    margin: 2px;
    border-radius:10px ;
}
.btn{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 0px;
    margin: 2px;
}
